<div class="container">
    <div class="row input-group">
        <input class="form-control" [(ngModel)]="breed" placeholder="Breed" />
        <div class="input-group-append">
            <button class="btn btn-primary" (click)="findDog()">Fetch!</button>
        </div>
    </div>

    <ng-template [ngIf]="dogUrl">
        <div class="text-center">
            <img class="img-fluid img-thumbnail" [src]="dogUrl" />
        </div>
        <button class="btn btn-info btn-lg" [routerLink]="['list/', breed]">See more</button>
    </ng-template>

    <div class="alert alert-danger" role="alert" *ngIf="failedToFetchDog">
        <p>Failed to fetch dog from the breed: <b>{{ breed }}</b></p>
    </div>
</div>
